html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height:100%;
  font-size:100%;
  font-family:Helvetica, Arial, sans-serif;
  background-color:#FFFFFF;
 }
 
 *, *:after, *:before {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
 }


/*#container1{
	float:left;
	width:100%;
  	background-color:#F7F7F7;
	position:relative;
	right:56%;
	border-right:1px black solid;
}

#container2{
	float:left;
	width:100%;
	background:yellow;
	position:relative;
	right:22%;
	border-right:1px black solid;	
}

#container3{
	float:left;
	width:100%;
	background:green;
	overflow:hidden;
	position:relative;	
}*/

#header {
  background-color:#CCCCCC;
  /*width:100%;*/
  /*height:2.5%;*/
  background:linear-gradient(#455660, #12191f);
  font-size:1.3em;
  color:#e1e7ea;
  padding:7px 20px 7px 10px;
  
}

.menu_icon{
  margin-top:0;
/*  padding:0 10px 0 10px;*/
  vertical-align:middle;
  /*margin-bottom:-5px;*/
}

#tile_supply{
  /*background-color:#BBDDBB;*/
/*  background-color:#F7F7F7;*/
/*  width:22%;*/
/*  min-width:380px;*/
	width:400px;
/*  height:80%;*/
  float:left;
/*  position:relative;*/
/*  left:78%;*/
}

#tile_count{
  background-color:#F7F7F7;
  font-size:1.1em;
  padding:8px 10px 127px 10px;
/*  border-bottom:1px solid #999999;*/
  border:1px solid #AAAAAA;
  border-radius:10px;
  margin: 10px;

}

.section_heading{
  font-size:1em;
  font-weight:bold;
  padding-left:5px;
}

#a_supply{
  background-image:url('../images/a_supply.png');
  width:92px;
  height:80px;
  background-repeat:no-repeat;
/*  padding:50px 36px 10px 36px;*/
  padding-top:50px;
  margin:0 -15px 10px 50px;
  color:#FFFFFF;
  text-align:center;
  /*opacity: 0.8;*/
}

#b_supply{
  background-image:url('../images/b_supply.png');
  width:92px;
  height:80px;
  background-repeat:no-repeat;
/*  padding:50px 36px 10px 36px;*/
  padding-top:50px;
  margin:40px -15px 0 0;
  color:#FFFFFF;
  text-align:center;
}

#c_supply{
  background-image:url('../images/c_supply.png');
  width:92px;
  height:80px;
  background-repeat:no-repeat;
/*  padding:50px 36px 10px 36px;*/
  padding-top:50px;
  margin:0 -15px 10px 0;
  color:#FFFFFF;
  text-align:center;
}

#real_estate{
  background-color:#F7F7F7;
  padding:8px 5px 8px 5px;
/*  border-bottom:1px solid #999999;*/
  border:1px solid #AAAAAA;
  border-radius:10px;
  margin: 10px;
}

#real_estate ul {
  list-style:none;
  margin:0;
  padding:5px 5px 5px 5px;
  font-size:0.8em;
  font-weight:normal;
}

#real_estate ul li{
  display:block;
  border:1px solid #C9C9C9;
  border-radius:3px;
  background-color:#FCFCFC;
  padding:6px 5px 40px 5px;
  margin:5px 0 5px 0;
  /*height:50%;*/
}

.inflation, .count {
  /*margin-top:3px;*/
  margin-left:5px;
  padding:6px 10px 8px 0;
  font-size:1.3em;
  font-weight:bold;
  width:55px;
  margin-right:10px;
  border-right:1px solid #C9C9C9;
  float:left;
  text-align:center;
}

.tile_title{
  padding: 8px 8px 12px 35px;
  margin:0 10px 0 0;
  /*height:25px;*/
  width:223px;
  font-size:1.1em;
  font-weight:bold;
  border-right:1px solid #C9C9C9;
  float:left;
  text-align:center;
}

.airport .tile_title{
  background-image:url('../images/airplane_icon.png');
  background-repeat:no-repeat;
}

.car .tile_title{
  background-image:url('../images/car_icon.png');
  background-repeat:no-repeat;
}

.office .tile_title{
  background-image:url('../images/office_icon.png');
  background-repeat:no-repeat;
}

.restaurant .tile_title{
  background-image:url('../images/restaurant_icon.png');
  background-repeat:no-repeat;
}

.school .tile_title{
  background-image:url('../images/school_icon.png');
  background-repeat:no-repeat;
}

.skyscraper .tile_title{
  background-image:url('../images/skyscraper_icon.png');
  background-repeat:no-repeat;
}

.tile_cost {
  padding:10px 0 0 0;
  text-align:center;
  font-size:1em;
  color:#FFFFFF;
  margin-right:6px;
  width:34px;
  height:34px;
  text-shadow: 0px 0px 3px black;
  float:right;
}

.residential .tile_cost {
  background-image:url('../images/green_tile_icon.png');
  background-repeat:no-repeat;
}

.commercial .tile_cost {
  background-image:url('../images/blue_tile_icon.png');
  background-repeat:no-repeat;
}

.industrial .tile_cost {
  background-image:url('../images/yellow_tile_icon.png');
  background-repeat:no-repeat;
}

.government .tile_cost {
  background-image:url('../images/grey_tile_icon.png');
  background-repeat:no-repeat;
}

.redevelopment .tile_cost {
  background-image:url('../images/black_tile_icon.png');
  background-repeat:no-repeat;
}

#base_tiles{
  background-color:#F7F7F7;
  padding:8px 5px 8px 5px;
/*  border-bottom:1px solid #999999;*/
/*  background-color:#B6FF77;*/
	border:1px solid #AAAAAA;
	border-radius:10px;
	margin:10px;
}

#base_tiles ul {
  list-style:none;
  margin:0;
  padding:5px 5px 5px 5px;
  font-size:0.8em;
  font-weight:normal;
}

#base_tiles ul li{
  display:block;
  border:1px solid #C9C9C9;
  border-radius:3px;
  background-color:#FCFCFC;
  padding:6px 5px 40px 5px;
  margin:5px 0 5px 0;
  /*height:50%;*/
}

#player_info{
/*  background-color:#FFEEDD;*/
/*  width:22%;*/
/*  min-width:335px;*/
  width:335px;
  float:right;
/*  position:relative;*/
/*  left:78%;*/
}

#goals{
  background-color:#F7F7F7;
  padding: 8px 10px 8px 10px;
/*  border-bottom:1px solid #999999;*/
border:1px solid #AAAAAA;
border-radius:10px;
margin: 10px;
}

#goals ul {
  list-style:none;
  margin:0;
  padding:5px 5px 5px 5px;
  font-size:0.8em;
  font-weight:normal;
}

#goals ul li{
  display:block;
  border:1px solid #C9C9C9;
  border-radius:3px;
  background-color:#FCFCFC;
  padding:7px 10px 43px 10px;
  margin:5px 0 5px 0;
  /*height:50%;*/
}

#goals ul .private {
  background-color:#DDDDDD;
  border:1px solid #AAAAAA;
}

#goals ul .private .border_left{
  border-left:1px solid #AAAAAA;
}

.float_right{
  float:right;
}

.float_left{
  float:left;
}

.border_left{
  border-left:1px solid #C9C9C9;
}

.border_right{
  border-right:1px solid #C9C9C9;
}

.goal_title{
  font-weight:bold;
}

.goal_description{
  font-style:italic;
}

.goal_amount{
  font-size:1.3em;
  font-weight:bold;
  float:left;
  padding:8px 10px 10px 8px;
}

#goals .unclaimed .goal_owner{
  background-image:url('../images/unclaimed_meeple.png');
  width:35px;
  height:35px;
  float:right;
  background-repeat:no-repeat;
}

#goals .player1 .goal_owner{
  background-image:url('../images/player1_meeple.png');
  width:35px;
  height:35px;
  float:right;
  background-repeat:no-repeat;
}

#goals .player2 .goal_owner{
  background-image:url('../images/player2_meeple.png');
  width:35px;
  height:35px;
  float:right;
  background-repeat:no-repeat;
}

#goals .player3 .goal_owner{
  background-image:url('../images/player3_meeple.png');
  width:35px;
  height:35px;
  float:right;
  background-repeat:no-repeat;
}

#goals .player4 .goal_owner{
  background-image:url('../images/player4_meeple.png');
  width:35px;
  height:35px;
  float:right;
  background-repeat:no-repeat;
}

.icon{
  margin-top:0;
  padding:0;
  vertical-align:middle;
  /*margin-bottom:-5px;*/
}

#player_stats{
	background-color:#F7F7F7;
	padding: 8px 10px 8px 10px;
	/*  border-bottom:1px solid #999999;*/
	border:1px solid #AAAAAA;
	border-radius:10px;
	margin: 10px;
}

#player_stats ul{
  list-style:none;
  margin:0;
  padding:5px 5px 5px 5px;
  font-size:0.8em;
  font-weight:normal;
}

#player_stats ul li{
  display:block;
  border:1px solid #C9C9C9;
  border-radius:3px;
/*background-color:#DBE7Ed;*/
  background-color:#FCFCFC;
  padding:5px 5px 48px 5px;
  margin:5px 0 5px 0;
  /*height:50%;*/
}

.player_icon{
	color:#FFFFFF;
	font-size:1.9em;
	text-align:center;
	padding-top:5px;
	margin-right:10px;
}

.separator{
	height:38px;
	width:1px;
	background-color:#C9C9C9;
	float:left;
	margin-top:2px;
}

/*.player_income{
	background-color:#A72424;
	border:3px #5D5D5D solid;
	width:42px;
	height:42px;
	border-radius:25px;
	float:right;
	margin-left:10px;
	font-size:1.65em;
	text-align:center;
	font-weight:bold;
	padding-top:6px;
}
*/
/*.player_reputation{
	background-color:#A72424;
	border:3px #5D5D5D solid;
	width:42px;
	height:42px;
	border-radius:25px;
	float:right;
	margin-left:10px;
	font-size:1.65em;
	text-align:center;
	font-weight:bold;
	padding-top:6px;
}*/

/*.player_money2{
	background-color:#A72424;
	border:6px #5D5D5D solid;
	background-repeat:no-repeat;
	background-image:url('../images/money_icon.png');
	width:42px;
	height:42px;
	border-radius:25px;
	float:right;
	margin-left:10px;
	font-size:1.4em;
	text-align:center;
	font-weight:bold;
	padding-top:10px;
	color:#754c07;
}*/

/*.player_population2{
	background-color:#A72424;
	border:6px #5D5D5D solid;
	background-image:url('/Users/shaila/Desktop/population_icon.png');
	background-repeat:no-repeat;
	width:42px;
	height:42px;
	border-radius:25px;
	float:right;
	margin-left:10px;
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
	padding-top:12px;
	text-shadow: 0px 0px 3px black;
	color:#FFFFFF;
}*/


.player_income{
/*	background-color:#A72424;*/
/*	border:3px #538da5 solid;
	background-color:#edf3f6;*/
	border:3px #000000 solid;
/*		background-color:#edf3f6;*/
	background-color:#FFFFFF;
	width:35px;
	height:35px;
	border-radius:18px;
	float:right;
	margin: 4px 10px 4px 8px;
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
	padding-top:6px;
}

.player_reputation{
/*	background-color:#A72424;*/
/*	border:3px #538da5 solid;*/
	border:3px #FFFFFF solid;
	background-color:#000000;
	color:#FFFFFF;
	width:35px;
	height:35px;
/*	background-color:#edf3f6;*/
/*	border-radius:25px;*/
	float:right;
	margin: 4px 10px 4px 10px;
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
	padding-top:6px;
	outline: 1px #CCCCCC solid;
}

/*.player_money2{
	background-color:#A72424;
	border:6px #5D5D5D solid;
	background-image:url('/Users/shaila/Desktop/money_icon.png');
	background-repeat:no-repeat;
	width:35px;
	height:35px;
	border-radius:25px;
	float:right;
	margin: 4px 10px 4px 8px;
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
	padding-top:9px;
	color:#754c07;
}
*/
/*.player_population2{
	background-color:#A72424;
	border:6px #5D5D5D solid;
	background-image:url('/Users/shaila/Desktop/population_icon2.png');
	background-repeat:no-repeat;
	width:35px;
	height:35px;
	border-radius:25px;
	float:right;
	margin: 4px 10px 4px 8px;
	font-size:1em;
	text-align:center;
	font-weight:bold;
	padding-top:10px;
	text-shadow: 0px 0px 3px black;
	color:#FFFFFF;
}
*/
/*.player_income3{
	background-color:#A72424;
	background-image:url('/Users/shaila/Desktop/income3.png');
	background-repeat:no-repeat;
	border:3px #538da5 solid;
	background-color:#edf3f6;
	width:35px;
	height:35px;
	border-radius:10px;
	float:right;
	margin: 12px 12px 0px 8px;
	font-size:1.25em;
	text-align:center;
	font-weight:bold;
	padding-top:2px;
	padding-left:22px;
}*/

/*.player_reputation3{
	background-color:#A72424;
	background-image:url('/Users/shaila/Desktop/income3.png');
	background-repeat:no-repeat;
	border:3px #538da5 solid;
	width:35px;
	height:35px;
	background-color:#edf3f6;
	border-radius:25px;
	float:right;
	margin: 12px 12px 0px 8px;
	font-size:1.25em;
	text-align:center;
	font-weight:bold;
	padding-top:2px;
	padding-left:22px;
}*/

.player_money{
/*	background-color:#A72424;*/
/*	border:6px #5D5D5D solid;*/
	background-image:url('../images/money_icon.png');
	background-repeat:no-repeat;
	width:35px;
	height:35px;
/*	border-radius:25px;*/
	float:right;
	margin: 12px 10px 0px 5px;
	font-size:1.25em;
	text-align:center;
	font-weight:bold;
	padding-top:2px;
	padding-left:24px;
	color:#000000;
}

.player_population{
/*	background-color:#A72424;*/
/*	border:6px #5D5D5D solid;*/
	background-image:url('../images/population_icon.png');
	background-repeat:no-repeat;
	width:35px;
	height:35px;
/*	border-radius:25px;*/
	float:right;
	margin: 12px 18px 0px 5px;
	font-size:1.25em;
	text-align:center;
	font-weight:bold;
	padding-top:2px;
	padding-left:24px;
	color:#000000;
}

#player_stats .player1 .player_icon{
/*  background-image:url('../images/player1_meeple.png');*/
  background-color:#A72424;
  border:3px #3f0808 solid;
	width:42px;
	height:42px;
  float:left;
  border-radius:8px;

/*  background-repeat:no-repeat;*/
}

#player_stats .player2 .player_icon{
/*  	background-color:#119fac;*/
	  background-color:#1097D1;
	  border:3px #0A5C7F solid;
		width:42px;
		height:42px;
	  float:left;
	  border-radius:8px;
}

#player_stats .player3 .player_icon{
  	background-color:#177b21;
	  border:3px #0c5413 solid;
		width:42px;
		height:42px;
	  float:left;
	  border-radius:8px;
}

#player_stats .player4 .player_icon{
 	background-color:#c36d08;
	  border:3px #714006 solid;
		width:42px;
		height:42px;
	  float:left;
	  border-radius:8px;
}

#player_stats ul .current_player{
 background-color:#FFFAE8;
 border:1px #C4B370 solid;
}
/*.player_stats{
  background-color:#FFFF72;
}*/
/*
.current_player{

}
*/

#content{
/*	background-color:red;*/
/*	margin-right:-335px;*/
  	float:left;
/*  position:relative;*/
/*	left:78%;  */
/*	width:50%;*/
}

#borough{
  background-color:#EBDBDB;
}

#map{
  /*width:860px;*/
  /*height:763px;*/
  border:1px dotted;
}

#game_log{
  background-color:#CCEEFF;
/*  position:relative;*/
/*  bottom:0px;*/
/*width:100%;*/
/*  clear:left;*/
}

